{% load widget_tweaks %}
<form method="post" action="">
  {% csrf_token %}
  <div class="modal-header">
    <h3 class="modal-title mx-auto">{{ mix }}</h3>
    <p>WORK IN PROGRESS</p>
    {% comment %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endcomment %}
  </div>
    
  <div class="modal-body">
    <p>Ingredients:
    <ul class="navbar-nav mr-auto">
    {% for dose in mix.ordered_doses %}
      <li class="nav-item">
      {{ dose }}
      </li>
    {% empty %}
      <li>No ingredients.</li>
    {% endfor %}
    </ul>
    </p>
    <p>{{ mix.description }}</p>
    {% if mix.alcohol_percentage %}
    <p>Degree of alcohol {{ mix.alcohol_percentage }}%</p>
    {% endif %}

    <small class="text-muted">{{ mix.likes }} likes, served {{ mix.count }} times.</small>
  </div>

  <div class="modal-footer">

    <button type="button" class="submit-btn btn btn-primary btn-block" id="submitme">Mix me !</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    <script type = "text/javascript">

    </script>
  </div>
</form>