{% load widget_tweaks %}
{% load static %}
{% load staticfiles %}

<div class="modal-header bg-dark">
  <h3 class="modal-title mx-auto text-white">{{ mix }}</h3>
  {% comment %}
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {% endcomment %}
</div>

<div class="modal-body">
  <button id="hardware-state" type="button" class="btn btn-secondary btn-block" disabled>Choose your cocktail</button>
  <p></p>
  <div class="embed-responsive embed-responsive-16by9">
    <video id="animation" preload="none" width="0" loop poster="{{ MEDIA_URL }}{{ mix.image }}">
      <source id="video-source" src="{{ MEDIA_URL }}{{ mix.animation_uri }}" type="video/mp4">
    </video>
  </div>
  <div id="modal-content">
  <p>Ingredients:
  <ul class="navbar-nav mr-auto">
  {% for dose in mix.ordered_doses %}
          <li class="nav-item">
          {{ dose }}
          </li>
  {% empty %}
          <li>No ingredients.</li>
  {% endfor %}
  </ul>
  </p>
  <p>{{ mix.description }}</p>
  {% if mix.alcohol_percentage %}
  <p>Degree of alcohol {{ mix.alcohol_percentage }}%</p>
  {% endif %}
  <small class="text-muted">{{ mix.likes }} likes, served {{ mix.count }} times.</small>
  </div>
</div>

<div class="modal-footer">
  {% include "_svg_as_img.html" %}
  <button type="button" onclick="like_onclick('#like-svg', '{{ mix.id }}', '{{ csrf_token }}', '#modal');" class="btn btn-light" id="like-btn">
      <img id="like-svg" class="svg social-link" src="{{ MEDIA_URL }}icons/thumbs-up.svg"/>
  </button>

  {% comment %}
  <button type="button" class="modal-animation btn btn-primary" data-id="{% url 'modal_animation' mix.pk %}" id="mixme">Mix me animation</button>
  {% endcomment %}

  <button class="btn btn-primary btn-block" id="submitme">Mix me !</button>
  <button type="button" class="btn btn-default" id="modal-close-button" data-dismiss="modal">Close</button>

  <script type = "text/javascript">
    liked = false; // keep this to make likes.js working

    switched_to_stop_button = false; // keep this for working go and stop button
    set_mixme_and_stop_button("#submitme", "{{ mix.id }}", "{{ csrf_token }}", "#modal");

    show_hardware_state(); // from report_hardware_state.js
  </script>

</div>
